* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

div#top{
    background-color: rgba(255,204,0,1);
    height: 430px;
    position: relative;
}

div#top div.cover{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 50%;
    margin-top: -100px;
    text-align: center;
}

div#top div.cover p{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

div#top div.cover p span{
    margin: 30px 0;
    display: inline-block;
    font-size: 36px;
    color: #222222;
}

div#top div.cover p input{
    width: 403px;
    height: 55px;
    outline: none;
    border: 1px solid #000000;
    position: relative;
    left: -7px;
    top: -43px;
    padding-left: 8px;
    font-size: 22px;
}

div#top div.cover p span:nth-of-type(2){
    width: 150px;
    height: 55px;
    line-height: 55px;
    display: inline-block;
    background-color: black;
    font-family:  Arial ,"Helvetica Neue", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    position: relative;
    top: -43px;
    cursor: pointer;
}

div#top div.cover p span:nth-of-type(2):hover{
    background-color: #ff3724;
}

div#top div.cover p span:nth-of-type(3){
    font-size: 16px;
    position: absolute;
    left: 485px;
    top: 132px;
    color: #777777;
}

div#rooter{
    width: 100%;
}

div#rooter p{
    text-align: center;
}

div#rooter ul.flex{
    width: 1000px;
    height: 50px;
    display: flex;
    margin: 30px auto;
}

div#rooter ul.flex li{
    flex: 1;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #6b6b6b;
    color: #FFFFFF;
}

div#rooter ul.flex li:hover{
    background-color: #3385ff;
    color: #6ce26c;
}

div#rooter ul.flex li.focus{
    background-color: #ff3724;
    color: #c2d2ff;
}

div#rooter p span{
    font-size: 36px;
    font-weight: bolder;
}


div#rooter ul.sucai li{
    float: left;
}

div#rooter ul.sucai li img{
    height: 86px;
}
