<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>祥龙检索，千度寻--腾讯漫画</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
	<meta name="keywords" content="漫画,千度,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
	<meta name="description" content="漫画,千度,千度一下，你更知道,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <link rel="shortcut icon" href="/images/logo/index_logo.png" type="image/icon"/>
    <link rel="stylesheet" type="text/css" href="/css/tengxun_manhua/searchPage.css"/>
    <script type="text/javascript" src="/jss/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/jss/vue.js"></script>
	<script type="text/javascript" src="/jss/vue-lazyload.js"></script>
	<script type="text/javascript" src="/jss/tengxun_manhua/searchPage.js"></script>
	<script type="text/javascript" src="/jss/tengxun_manhua/common.js"></script>
</head>

<body>

<div id="rooter">
	<div style="height: 312px;background-color: rgba(0,0,0,.6);z-index: 99999;" class="firstInput">
	    <div class="oneLine">
	        <a title="祥龙检索，搜腾讯漫画"><img src="/images/index/homelogo.png"/></a>
	    </div>
	    <p style="margin: 10px auto;text-align: center;
	position: relative;left: 0px;top: 64px;color: #FFFFFF;">可以搜索腾讯漫画名称或者作者名称等</p>
	    <div class="searchArea">
	        <p><input type="text" title="可以搜索腾讯漫画名称等" placeholder="搜索腾讯漫画"/></p>
	        <a>千度腾讯漫画</a>
	    </div>

		<div class="tags">
			<div class="classify">
				<ul>
					<li v-for="(item,index) in classifyList" :type="item" class="item">
						<a :href="'/tengxun_manhua/tengXunManHuaIndex/' + item" v-html="index" target="_blank"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="fixed_top">
		<div class="searchArea">
			<p><input type="text" title="可以搜索腾讯漫画名称或作者名称等" placeholder="搜索腾讯漫画"/></p>
			<a>千度腾讯漫画</a>
		</div>
	</div>


	<div class="content" v-if="manhuas.length > 0">
		<ul>
			<li v-for="(item,index) in manhuas" class="manhua">
				<a :href="'/tengxun_manhua/showChapter/' + item.id + '/1'" target="_blank">
					<img v-lazy="item.manHuaMainPic"/>
				</a>
				<div class="info">
					<span class="title">{{item.title}}</span>
					<br/>
					<span class="author">{{item.author}}</span>
					<br/>
					<p class="tags">
						<span v-for="value,key in item.tags" v-html="key"></span>
					</p>
					<br/>
					<span class="description">{{item.description}}</span>
					<a :href="'/tengxun_manhua/showChapter/' + item.id + '/1'" target="_blank">开始阅读</a>
				</div>
			</li>
		</ul>
	</div>
    <div v-else style="text-align: center;padding-top: 100px;">
        <img src="/images/multiMusic/loading.gif"/>
    </div>
</div>
<input type="text" style="display: none;" id="keyword" th:title="${keyword}"/>
</body>
</html>
