*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

ul,li{
    list-style: none;
}

a{
    border: none;
    outline: none;
    text-decoration: none;
    color: #000000;
}

img{
    vertical-align: top;
}

div.top{
    border-bottom: 1px solid #CCCCCC;
}

div.top div.innerArea{
    width: 1000px;
    height: 67px;
    line-height: 67px;
    margin: 0 auto;
}

div.top div.innerArea a img{
    width: 131px;
    vertical-align: middle;
    position: relative;
    top: -5px;
}

div.top div.innerArea a{
    display: inline-block;
    min-width: 100px;
    height: 100%;
    line-height: 67px;
    text-align: center;
    margin-left: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s;
}

div.top div.innerArea a:hover{
    background-color: #ffe443;
    text-decoration: underline;
    color: #FFFFFF;
}

div.top div.innerArea a.focus{
    background-color: #ffe443;
}

div.top div.innerArea input{
    width: 260px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #CCCCCC;
    outline: none;
    padding-left: 5px;
    font-size: 14px;
    background-color: #CCCCCC;
}

ul.scrollBar{
    width: 1400px;
    height: 340px;
    margin: 20px auto;
    position: relative;
}

ul.scrollBar li{
    width: 100%;
    height: 340px;
    position: absolute;
    transition: all 1s;
}

ul.scrollBar li:nth-of-type(1){
    background: url("/images/kuwo/scroll1.jpg") no-repeat;
}

ul.scrollBar li:nth-of-type(2){
    background: url("/images/kuwo/scroll2.jpg") no-repeat;
}

ul.scrollBar li:nth-of-type(3){
    background: url("/images/kuwo/scroll3.jpg") no-repeat;
}

ul.scrollBar li:nth-of-type(4){
    background: url("/images/kuwo/scroll4.jpg") no-repeat;
}

div.recommend{
    width: 1400px;
    margin: 0 auto;
}

div.recommend h1{
    float: left;
}

div.recommend a{
    display: inline-block;
    min-width: 50px;
    vertical-align: bottom;
    height: 50px;
    text-decoration: none;
    margin: 10px 15px;
    cursor: pointer;
}

div.recommend a:hover{
    text-decoration: underline;
}

div.recommend ul{
    height: 268px;
}

div.recommend ul li.recommendItem{
    float: left;
    width: 264px;
    height: 264px;
    position: relative;
}

div.recommend ul li.recommendItem a{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.recommend ul li.recommendItem img{
    width: 100%;
    transition: all ease-in-out 0.5s;
}

div.recommend ul li.recommendItem:hover img{
    transform: scale(1.2);
    vertical-align: middle;
}

div.recommend ul li.recommendItem p{
    clear: both;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
    top: -26px;
}

div.leaderBoard{
    width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
}

div.leaderBoard h1{
    float: left;
}

div.leaderBoard > a {
    display: inline-block;
    width: 50px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-left: 10px;
}

div.item {
    display: flex;
    flex-direction: row;
    position: relative;
}

div.item ul{
    width: 264px;
    float: left;
    margin: 10px;
    position: relative;
}

div.item li.leaderBoardBack{
    width: 100%;
    height: 144px;
    background-color: #000000;
}

div.item li.leaderBoardBack img{
    width: 100%;
}

div.item li.itemLi{
    width: 100%;
    height: 80px;
    line-height: 80px;
    clear: both;
    transition: all 1s;
    cursor: pointer;
}

div.item li.itemLi:hover{
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    transform: translateX(10%);
}

div.item li.itemLi img{
    float: left;
    width: 66px;
    margin: 5px 0;
}

div.item li.itemLi div{
    float: left;
    width: 180px;
    position: relative;
}

div.item li.itemLi span{
    float: right;
    width: 100%;
    min-width: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

div.item li.itemLi span:nth-of-type(1){
    margin-top: 5px;
}

div.item li.itemLi span:nth-of-type(2){
    color: #CCCCCC;
}

div#rooter div.singer{
    width: 1400px;
    margin: 0 auto;
}

div#rooter div.singer h1 {
    float: left;
}

div#rooter div.singer span{
    margin-left: 20px;
    display: inline-block;
    height: 47px;
    line-height: 47px;
    cursor: pointer;
}

div#rooter ul{
    width: 1400px;
    margin: 10px auto;
    overflow: hidden;
}

div#rooter ul li{
    float: left;
    width: 189px;
    margin: 20px;
    position: relative;
    cursor: pointer;
}


div#rooter ul li img {
    width: 100%;
    border-radius: 50%;
}

div#rooter ul li p{
    text-align: center;
    height: 30px;
    line-height: 30px;
}

div#rooter ul li p:nth-of-type(2){
    font-size: 12px;
    color: #CCCCCC;
}