<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>免费logo在线制作-字体logo-logo设计</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="keywords" content="LOGO,LOGO在线,LOGO在线设计,千度,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <meta name="description" content="LOGO,LOGO在线,LOGO在线设计,千度,千度一下，你更知道,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <link rel="shortcut icon" href="/images/logo/index_logo.png" type="image/icon"/>
    <link rel="stylesheet" type="text/css" href="/css/logodesign/logoContent.css"/>
    <!--
        <link rel="stylesheet" type="text/css" href="styles.css">
        -->
    <script type="text/javascript" src="/jss/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/jss/vue.js"></script>
    <script type="text/javascript" src="/jss/logodesign/logoContent.js"></script>
    <script type="text/javascript" src="/jss/logodesign/gbk.js"></script>
    <script type="text/javascript" src="/jss/logodesign/common.js"></script>
</head>

<body>
    <div id="top">
        <div class="cover">
            <p>
                <span>完全免费的LOGO在线设计制作工具</span>
                <br/>
                <input type="text" placeholder="LOGO名称"/>
                <span>开始设计</span><br/>
                <span>请输入logo名称</span>
            </p>
        </div>
    </div>

    <div id="rooter">
        <p>
            <span>免费LOGO设计案例</span>
        </p>
        <ul class="flex">
            <li v-for="(item,key) of map" :data="key">
                <span v-html="item"></span>
            </li>
        </ul>
        <ul class="sucai">
            <li v-for="(item,index) in filterSucais">
                <img :src="item.sucaiUrl"/>
            </li>
        </ul>
    </div>

<a id="type" style="display: none" th:title="${type}"></a>
</body>
</html>
