*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: top;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#rooter{
    width: 100%;
    height: 100%;
    position: relative;
}

video{
    width: 100%;
    height: 100%;
}

h3{
    position: absolute;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    z-index: 9999999;
}

h5{
    position: absolute;
    color: #FFFFFF;
    width: 100%;
    top: 30px;
    text-align: center;
    z-index: 9999999;
}

#rooter div.rightArea{
    position: absolute;
    width: 360px;
    height: 100%;
    top: 0;
    right: -353px;
    transition: all 1s;
}

#rooter div.rightArea:hover{
    right: 0;
}

#rooter div.rightArea ul{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

#rooter ul li{
    cursor: pointer;
    border: 1px solid #CCCCCC;
    padding: 5px;
}

#rooter ul li:hover{
    background-color: #aa00aa;
    color: #FFFFFF;
}

#rooter ul li.focus{
    background-color: #00b7ee;
}

p{
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #aa00aa;
    right: 54px;
    bottom: 33px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px #CCCCCC;
    transition: all 1s;
}

p > a {
    color: #FFFFFF;
}

p:hover{
    background-color: #0aa770;
}


/*滚动条凹槽的颜色，还可以设置边框属性 */
::-webkit-scrollbar-track-piece {
    background-color:#f8f8f8;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
/*滚动条的宽度*/
::-webkit-scrollbar {
    width:9px;
}
/*滚动条的设置*/
::-webkit-scrollbar-thumb {
    background-color:#dddddd;
    background-clip:padding-box;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
/*滚动条鼠标移上去*/
::-webkit-scrollbar-thumb:hover {
    background-color:#bbb;
}