<!DOCTYPE HTML>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>千度西瓜视频</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="referrer" content="no-referrer"/>
	<meta name="keywords" content="千度,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
	<meta name="description" content="千度,千度一下,你更知道,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
	<link rel="shortcut icon" href="/images/logo/index_logo.png" type="image/icon"/>
	<link rel="stylesheet" type="text/css" href="/css/xiguavideo/computeXiGuaVideoUrl.css"/>
	<script type="text/javascript" src="/jss/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/jss/vue.js"></script>
	<script type="text/javascript" src="/jss/xiguavideo/computeXiGuaVideoUrl.js"></script>
</head>

<body>

<div id="rooter">
	<input type="text" placeholder="请输入西瓜视频的播放链接"/>
	<a target="_blank">解析西瓜视频url</a>
	<br/>
</div>
<div id="example">
	<h1>例如：</h1>
	<h3>https://www.ixigua.com/6807663230203200014?logTag=2Qr-2MA6T67CjIlXJB0U_</h3>
</div>
</body>
</html>
