<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>祥龙检索-酷我音乐</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="keywords" content="酷我音乐,千度,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <meta name="description" content="酷我音乐,千度,千度一下，你更知道,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <link rel="shortcut icon" href="/images/logo/index_logo.png" type="image/icon"/>
    <link rel="stylesheet" type="text/css" href="/css/kuwo/playListInfo.css"/>
    <script type="text/javascript" src="/jss/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/jss/vue.js"></script>
    <script type="text/javascript" src="/jss/kuwo/playListInfo.js"></script>
    <script type="text/javascript" src="/jss/kuwo/common.js"></script>
</head>

<body>
<div class="top">
    <div class="innerArea">
        <a href="/kuwo/index" target="_blank">
            <img src="/images/kuwo/index.png"/>
        </a>
        <a href="/kuwo/hotTop"><span>排行榜</span></a>
        <a href="/kuwo/singer/0/1/100/100/100?prefix="><span>歌手</span></a>
        <a href="/kuwo/tagPlayListPage/37"><span>歌单</span></a>
        <a href="/kuwo/mvListPage/236682871"><span>MV</span></a>

        <input type="text" placeholder="搜索音乐/MV/歌单/歌手" maxlength="128"/>
    </div>
</div>

<div id="rooter">
    <ul class="centerArea">
        <li class="leftArea">
            <img :src="albumInfos.img700"/>
            <h2>专辑简介</h2>
            <div v-html="albumInfos.info"></div>
        </li>
        <li class="rightArea">
            <h2 v-html="albumInfos.name"></h2>
            <p v-html="albumInfos.userName"></p>

            <p class="playAllBtn">立即播放</p>

            <ul class="songs">
                <li v-for="item,index in musicList">
                    <span v-html="index + 1"></span>
                    <span v-html="item.name"></span>
                    <span v-html="item.artist"></span>
                    <span v-html="item.songTimeMinutes"></span>
                    <span :rid="item.rid" class="playButton" :name="item.name" :index="index">播放</span>
                </li>
            </ul>
        </li>
    </ul>
</div>
<input style="display: none;" th:title="${pid}" id="pid"/>
<audio controls autoplay></audio>
</body>
</html>
