<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>祥龙搜索---奇艺专栏</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="keywords" content="爱奇艺,千度,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <meta name="description" content="爱奇艺,千度,千度一下，你更知道,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <link rel="shortcut icon" href="/images/logo/index_logo.png" type="image/icon"/>
    <link rel="stylesheet" type="text/css" href="/css/iqiyi/index.css"/>
    <script type="text/javascript" src="/jss/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/jss/vue.js"></script>
    <script type="text/javascript" src="/jss/vue-lazyload.js"></script>
    <script type="text/javascript" src="/jss/iqiyi/index.js"></script>
</head>

<body>
    <div id="rooter">
        <div class="searchArea">
            <a target="_blank" class="logo" title="祥龙检索，千度一下"><img src="/images/index/homelogo.png"></a>
            <input type="text" placeholder="请入要查询的内容">
            <a target="_blank" class="searchButton">千度一下</a>
        </div>
        <ul class="main">
            <li class="focus">电视剧</li>
            <li>电影</li>
            <li>动漫</li>
            <li>纪录片</li>
            <li>资讯</li>
            <li>娱乐</li>
            <li>网络电影</li>
            <li>片花</li>
            <li>音乐</li>
            <li>军事</li>
            <li>教育</li>
            <li>体育</li>
            <li>儿童</li>
            <li>时尚</li>
            <li>生活</li>
            <li>汽车</li>
            <li>广告</li>
            <li>原创</li>
        </ul>
        <div v-if="currentChannel === 'tv'">
            <ul class="tv-mode">
                <li v-for="(item,index) in tvMode" :class="index+1 === tvModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="tv-area">
                <li v-for="(item,index) in tvArea" :class="index+1 === tvAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="tv-type">
                <li v-for="(item,index) in tvType" :class="index+1 === tvTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="tv-marketReleaseDateLevel">
                <li v-for="(item,index) in tvMarketReleaseDateLevel" :class="index+1 === tvMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList">
                    <a target="_blank" :href="'/showTv?url=' + item.playUrl + '&platform=iqiyi&aid=' + item.albumId + '&tvName=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="'更新至' + item.videoCount + '集'"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'movie'">
            <ul class="movie-mode">
                <li v-for="(item,index) in movieMode" :class="index+1 === movieModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="movie-area">
                <li v-for="(item,index) in movieArea" :class="index+1 === movieAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="movie-type">
                <li v-for="(item,index) in movieType" :class="index+1 === movieTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="movie-other">
                <li v-for="(item,index) in movieOther" :class="index+1 === movieOtherCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :other="item[1]"></span>
                </li>
            </ul>
            <ul class="movie-marketReleaseDateLevel">
                <li v-for="(item,index) in movieMarketReleaseDateLevel" :class="index+1 === movieMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'anime'">
            <ul class="anime-mode">
                <li v-for="(item,index) in animeMode" :class="index+1 === animeModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="anime-area">
                <li v-for="(item,index) in animeArea" :class="index+1 === animeAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="anime-type">
                <li v-for="(item,index) in animeType" :class="index+1 === animeTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="anime-version">
                <li v-for="(item,index) in animeVersion" :class="index+1 === animeVersionCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :version="item[1]"></span>
                </li>
            </ul>
            <ul class="anime-other">
                <li v-for="(item,index) in animeOther" :class="index+1 === animeOtherCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :other="item[1]"></span>
                </li>
            </ul>
            <ul class="anime-marketReleaseDateLevel">
                <li v-for="(item,index) in animeMarketReleaseDateLevel" :class="index+1 === animeMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="anime">
                    <a target="_blank" :href="'/showTv?url=' + item.playUrl + '&platform=iqiyi&aid=' + item.albumId + '&tvName=' + item.name" >
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="'更新至' + item.videoCount + '集'"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'documentary'">
            <ul class="documentary-mode">
                <li v-for="(item,index) in documentaryMode" :class="index+1 === documentaryModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="documentary-area">
                <li v-for="(item,index) in documentaryArea" :class="index+1 === documentaryAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="documentary-type">
                <li v-for="(item,index) in documentaryType" :class="index+1 === documentaryTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="documentary-version">
                <li v-for="(item,index) in documentaryVersion" :class="index+1 === documentaryVersionCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :version="item[1]"></span>
                </li>
            </ul>
            <ul class="documentary-other">
                <li v-for="(item,index) in documentaryOther" :class="index+1 === documentaryOtherCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :other="item[1]"></span>
                </li>
            </ul>
            <ul class="documentary-marketReleaseDateLevel">
                <li v-for="(item,index) in documentaryMarketReleaseDateLevel" :class="index+1 === documentaryMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="documentary">
                    <a target="_blank" :href="'/showTv?url=' + item.playUrl + '&platform=iqiyi&aid=' + item.albumId + '&tvName=' + item.name" >
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="'更新至' + item.videoCount + '集'"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'information'">
            <ul class="information-mode">
                <li v-for="(item,index) in informationMode" :class="index+1 === informationModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="information-type">
                <li v-for="(item,index) in informationType" :class="index+1 === informationTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="information-marketReleaseDateLevel">
                <li v-for="(item,index) in informationMarketReleaseDateLevel" :class="index+1 === informationMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'entertainment'">
            <ul class="entertainment-mode">
                <li v-for="(item,index) in entertainmentMode" :class="index+1 === entertainmentModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="entertainment-area">
                <li v-for="(item,index) in entertainmentArea" :class="index+1 === entertainmentAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="entertainment-type">
                <li v-for="(item,index) in entertainmentType" :class="index+1 === entertainmentTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="entertainment-other">
                <li v-for="(item,index) in entertainmentOther" :class="index+1 === entertainmentOtherCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :other="item[1]"></span>
                </li>
            </ul>
            <ul class="entertainment-marketReleaseDateLevel">
                <li v-for="(item,index) in entertainmentMarketReleaseDateLevel" :class="index+1 === entertainmentMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="entertainment">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'webmovie'">
            <ul class="webmovie-mode">
                <li v-for="(item,index) in webmovieMode" :class="index+1 === webmovieModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="webmovie-area">
                <li v-for="(item,index) in webmovieArea" :class="index+1 === webmovieAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="webmovie-marketReleaseDateLevel">
                <li v-for="(item,index) in webmovieMarketReleaseDateLevel" :class="index+1 === webmovieMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="webmovie">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'flower'">
            <ul class="flower-mode">
                <li v-for="(item,index) in flowerMode" :class="index+1 === flowerModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="flower-area">
                <li v-for="(item,index) in flowerArea" :class="index+1 === flowerAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="flower-type">
                <li v-for="(item,index) in flowerType" :class="index+1 === flowerTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="flower-other">
                <li v-for="(item,index) in flowerOther" :class="index+1 === flowerOtherCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :other="item[1]"></span>
                </li>
            </ul>
            <ul class="flower-marketReleaseDateLevel">
                <li v-for="(item,index) in flowerMarketReleaseDateLevel" :class="index+1 === flowerMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'music'">
            <ul class="music-mode">
                <li v-for="(item,index) in musicMode" :class="index+1 === musicModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="music-area">
                <li v-for="(item,index) in musicArea" :class="index+1 === musicAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="music-type">
                <li v-for="(item,index) in musicType" :class="index+1 === musicTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="music-version">
                <li v-for="(item,index) in musicVersion" :class="index+1 === musicVersionCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :version="item[1]"></span>
                </li>
            </ul>
            <ul class="music-other">
                <li v-for="(item,index) in musicOther" :class="index+1 === musicOtherCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :other="item[1]"></span>
                </li>
            </ul>
            <ul class="music-marketReleaseDateLevel">
                <li v-for="(item,index) in musicMarketReleaseDateLevel" :class="index+1 === musicMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="music">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>


        <div v-if="currentChannel === 'military'">
            <ul class="military-mode">
                <li v-for="(item,index) in militaryMode" :class="index+1 === militaryModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="military-area">
                <li v-for="(item,index) in militaryArea" :class="index+1 === militaryAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="military-marketReleaseDateLevel">
                <li v-for="(item,index) in militaryMarketReleaseDateLevel" :class="index+1 === militaryMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="military">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'education'">
            <ul class="education-mode">
                <li v-for="(item,index) in educationMode" :class="index+1 === educationModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="education-area">
                <li v-for="(item,index) in educationArea" :class="index+1 === educationAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="education">
                    <a target="_blank" :href="'/showTv?url=' + item.playUrl + '&platform=iqiyi&aid=' + item.albumId + '&tvName=' + item.name" >
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="'更新至' + item.videoCount + '集'"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'physicaleducation'">
            <ul class="physicaleducation-mode">
                <li v-for="(item,index) in physicaleducationMode" :class="index+1 === physicaleducationModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="physicaleducation-area">
                <li v-for="(item,index) in physicaleducationArea" :class="index+1 === physicaleducationAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="physicaleducation-type">
                <li v-for="(item,index) in physicaleducationType" :class="index+1 === physicaleducationTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="physicaleducation-version">
                <li v-for="(item,index) in physicaleducationVersion" :class="index+1 === physicaleducationVersionCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :version="item[1]"></span>
                </li>
            </ul>
            <ul class="physicaleducation-marketReleaseDateLevel">
                <li v-for="(item,index) in physicaleducationMarketReleaseDateLevel" :class="index+1 === physicaleducationMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="physicaleducation">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'child'">
            <ul class="child-mode">
                <li v-for="(item,index) in childMode" :class="index+1 === childModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="child-area">
                <li v-for="(item,index) in childArea" :class="index+1 === childAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="child-type">
                <li v-for="(item,index) in childType" :class="index+1 === childTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="child-other">
                <li v-for="(item,index) in childOther" :class="index+1 === childOtherCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :other="item[1]"></span>
                </li>
            </ul>
            <ul class="child-other2">
                <li v-for="(item,index) in childOther2" :class="index+1 === childOther2CurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :other2="item[1]"></span>
                </li>
            </ul>
            <ul class="child-marketReleaseDateLevel">
                <li v-for="(item,index) in childMarketReleaseDateLevel" :class="index+1 === childMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="documentary">
                    <a target="_blank" :href="'/showTv?url=' + item.playUrl + '&platform=iqiyi&aid=' + item.albumId + '&tvName=' + item.name" >
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="'更新至' + item.videoCount + '集'"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>

        <div v-if="currentChannel === 'fashion'">
            <ul class="fashion-mode">
                <li v-for="(item,index) in fashionMode" :class="index+1 === fashionModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="fashion-area">
                <li v-for="(item,index) in fashionArea" :class="index+1 === fashionAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="fashion-type">
                <li v-for="(item,index) in fashionType" :class="index+1 === fashionTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="fashion-version">
                <li v-for="(item,index) in fashionVersion" :class="index+1 === fashionVersionCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :version="item[1]"></span>
                </li>
            </ul>
            <ul class="fashion-marketReleaseDateLevel">
                <li v-for="(item,index) in fashionMarketReleaseDateLevel" :class="index+1 === fashionMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="fashion">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>


        <div v-if="currentChannel === 'life'">
            <ul class="life-mode">
                <li v-for="(item,index) in lifeMode" :class="index+1 === lifeModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="life-area">
                <li v-for="(item,index) in lifeArea" :class="index+1 === lifeAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="life-marketReleaseDateLevel">
                <li v-for="(item,index) in lifeMarketReleaseDateLevel" :class="index+1 === lifeMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="life">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>


        <div v-if="currentChannel === 'car'">
            <ul class="car-mode">
                <li v-for="(item,index) in carMode" :class="index+1 === carModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="car-area">
                <li v-for="(item,index) in carArea" :class="index+1 === carAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="car-type">
                <li v-for="(item,index) in carType" :class="index+1 === carTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="car-version">
                <li v-for="(item,index) in carVersion" :class="index+1 === carVersionCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :version="item[1]"></span>
                </li>
            </ul>
            <ul class="car-marketReleaseDateLevel">
                <li v-for="(item,index) in carMarketReleaseDateLevel" :class="index+1 === carMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="car">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>


        <div v-if="currentChannel === 'ad'">
            <ul class="ad-mode">
                <li v-for="(item,index) in adMode" :class="index+1 === adModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="ad-area">
                <li v-for="(item,index) in adArea" :class="index+1 === adAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="ad-type">
                <li v-for="(item,index) in adType" :class="index+1 === adTypeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :type="item[1]"></span>
                </li>
            </ul>
            <ul class="ad-version">
                <li v-for="(item,index) in adVersion" :class="index+1 === adVersionCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :version="item[1]"></span>
                </li>
            </ul>
            <ul class="ad-marketReleaseDateLevel">
                <li v-for="(item,index) in adMarketReleaseDateLevel" :class="index+1 === adMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="ad">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>


        <div v-if="currentChannel === 'original'">
            <ul class="original-mode">
                <li v-for="(item,index) in originalMode" :class="index+1 === originalModeCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :mode="item[1]"></span>
                </li>
            </ul>
            <ul class="original-area">
                <li v-for="(item,index) in originalArea" :class="index+1 === originalAreaCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :area="item[1]"></span>
                </li>
            </ul>
            <ul class="original-marketReleaseDateLevel">
                <li v-for="(item,index) in originalMarketReleaseDateLevel" :class="index+1 === originalMarketReleaseDateLevelCurrentIndex ? 'focus' : ''" :index="index + 1">
                    <span v-html="item[0]" :marketReleaseDateLevel="item[1]"></span>
                </li>
            </ul>

            <ul class="content">
                <li v-for="(item,index) in videoList" class="original">
                    <a target="_blank" :href="'/playMovieWithThreePart?playUrl=' + item.playUrl + '&name=' + item.name">
                        <img v-lazy="item.imageUrl">
                    </a>
                    <span class="jiNumber" v-html="item.duration"></span>
                    <p v-html="item.name"></p>
                    <p v-html="item.secondInfo"></p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
