<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>祥龙检索--哔哩哔哩</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="keywords" content="哔哩哔哩,千度,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <meta name="description" content="哔哩哔哩,千度,千度一下，你更知道,千度搜索,千度网,搜索引擎大全,高级搜索,搜索神器,搜索大全"/>
    <link rel="shortcut icon" href="/images/logo/index_logo.png" type="image/icon"/>
    <link rel="stylesheet" type="text/css" href="/css/bilibili/searchResult.css"/>
    <script type="text/javascript" src="/jss/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/jss/vue.js"></script>
    <script type="text/javascript" src="/static/jss/bilibili/common.js"></script>
</head>

<body>
    <div id="rooter">
        <div class="topArea">
            <img class="logo" src="/images/bilibili/logo.png"/>
            <div class="searchArea">
                <div>
                    <a href="/bilibili/ranking" target="_blank"><b></b><span>排行榜</span></a>
                    <input type="text" placeholder="搜索bilibili全网"/>
                    <i></i>
                </div>
            </div>
        </div>

        <div class="centerArea">
            <div class="types">
                <ul>
                    <li order="totalrank">综合排序</li>
                    <li order="click">最多点击</li>
                    <li order="pubdate">最新发布</li>
                    <li order="dm">最多弹幕</li>
                    <li order="stow">最多收藏</li>
                </ul>

                <ul>
                    <li duration="0">综合时长</li>
                    <li duration="1">10分钟以下</li>
                    <li duration="2">10-30分钟</li>
                    <li duration="3">30-60分钟</li>
                    <li duration="4">60分钟以上</li>
                </ul>

                <ul>
                    <li tids_1="0">全部分区</li>
                    <li tids_1="1">动画</li>
                    <li tids_1="13">番剧</li>
                    <li tids_1="167">国创</li>
                    <li tids_1="3">音乐</li>
                    <li tids_1="129">舞蹈</li>
                    <li tids_1="4">游戏</li>
                    <li tids_1="36">科技</li>
                    <li tids_1="188">数码</li>
                    <li tids_1="160">生活</li>
                    <li tids_1="119">鬼畜</li>
                    <li tids_1="155">时尚</li>
                    <li tids_1="165">广告</li>
                    <li tids_1="5">娱乐</li>
                    <li tids_1="181">影视</li>
                    <li tids_1="177">纪录片</li>
                    <li tids_1="23">电影</li>
                    <li tids_1="11">电视剧</li>
                </ul>
            </div>
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</body>
</html>
